body.input {
    font-family: monospace;
}

body {
    background-color: yellow;
    box-sizing: border-box;
    margin: 0 auto;
}

*,
::after,
::before {
    box-sizing: inherit;
}

h1,
h2 {
    margin: 100px 0;
    text-align: center;
}

img,
ul {
    margin: 0;
    padding: 0;
}

form {
    max-width: 750px;
    margin: 50px auto;
}

h1 {
    letter-spacing: -5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffcb05;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0071b9;
    text-align: center;
    font-size: 120px;
    margin: 10px;
}

ul li {
    background: #fff;
    list-style: none;
    font-size: 24px;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(22, 22, 241, .2);
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    margin: 0;
    font-size: 36px;
    padding: 10px;
    color: #1d1d1d;
    border: 5px solid #0071b9;
    border-width: 0 0 5px;
    outline: 0;
    box-shadow: O 5px 10px rgba(0, 0, 0 .2);

}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    ul li {
        background: #fff;
        list-style: none;
        font-size: 24px;
        padding: 20px;
        box-shadow: 2px 0 10px rgba(22, 22, 241, .2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 100px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 70px;
    }
}